* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}


/*body*/

body {
    display: grid;
    width: 100%;
    height: 1000px;
    grid-template: 150px 800px 50px / repeat(2, 1fr);
    grid-template-areas: 'header header'
                         'main main'
                         'footer footer';
}

img {
    height: 300px;
    width: 280px;
}

/*header*/

header {
    grid-area: header;
    display: inline-flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 80%);
    border: 2px solid black;
    width: 100%;
}

.title {
    
    display: inline-flex;
    flex-direction: row;
    width: 60%;
    align-items: flex-end;
    
}

.title h1 {
    font-size: 80px;
    margin-left: 50px;
    padding: 3px;
    letter-spacing: 3px;
    text-decoration: underline overline;
    word-spacing: 2px;
    position: relative;
    left: 70px;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 40%;
}

.navigation {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
}


.home {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding-top: 0;
    border-radius: 10px;
    position: relative;
    right: 30px;
}

.porte {
    position: relative;
    right: 150px;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 0;
}


.botones{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 5px;
}

a:active {
    border: 2px solid black;
    text-transform: lowercase;
    box-shadow: none;
}

a:hover {
    background-color: grey;
    border: 2px solid black;
    box-shadow: 2px 3px 3px black;
}

a {
    font-size: 40px;
    font-family: "Bree Serif", serif;
    color: black;
    text-decoration: none;
    padding: 10px 10px 1px 10px;
    box-shadow: inset 1px -3px 3px grey;
    text-transform: uppercase;
    background-color: white;
    cursor: pointer;
}

/*main*/
main {
    grid-area: main;
}



/*about*/






/*image*/



/*footer*/

footer {
    grid-area: footer;
}