* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}


/*body*/

body {
    display: grid;
    width: 100%;
    height: 960px;
    grid-template: 150px 800px 10px / repeat(2, 1fr);
    grid-template-areas: 'header header'
                         'main main'
                         'footer footer';
    overflow: hidden;
    
}

/*header*/

header {
    grid-area: header;
    display: inline-flex;
    flex-direction: row;
    background-color: white;
    border-bottom: 4px solid black;
    width: 100%;
    
}

.title {
    
    display: inline-flex;
    flex-direction: row;
    width: 60%;
    align-items: flex-end;
    
}

.title h1 {
    font-size: 80px;
    margin-left: 50px;
    padding: 3px;
    letter-spacing: 3px;
    text-decoration: underline overline;
    word-spacing: 2px;
    position: relative;
    left: 70px;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(204,18.8%, 13%);
}

nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 40%;
}

.navigation {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
}


.home {
    border: 2px solid black;
    padding-top: 0;
    border-radius: 10px;
    position: relative;
    right: 30px;
}

.porte {
    position: relative;
    right: 150px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-radius: 10px;
    padding-top: 0;
}


.botones {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 5px;
    color: hsl(204,18.8%, 13%);
    font-size: 30px;
}

.navigation a:active {
    border: 2px solid black;
    text-transform: lowercase;
    box-shadow: none;
}

.navigation a:hover {
    background-color: grey;
    border: 2px solid black;
    box-shadow: 2px 3px 3px black;
}

.navigation a {
    font-size: 40px;
    font-family: "Bree Serif", serif;
    color: black;
    text-decoration: none;
    padding: 10px 10px 1px 10px;
    box-shadow: inset 1px -3px 3px grey;
    text-transform: uppercase;
    background-color: white;
    cursor: pointer;
}


/*main*/

main {
    grid-area: main;
    display: inline-grid;
    height: 800px;
    width: 100%;
    grid-template: 50% 50% / 50% 50%;
    grid-template-areas: 'project contact'
                         'colors colors';
    color: white;
    background-color: hsl(204,18.8%, 13%);
}

/*proj*/

.proj {
    grid-area: project;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

}

.proj .subtitle {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 110px;
}

.proj h2 {
    width: 70%;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-decoration: underline;
    word-spacing: 10px;
    letter-spacing: 1.4px;
    
    
}

.list {
    position: relative;
    top: 20px;
    width: 100%;
    height: 260px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.list ul {
    height: 100%;
    width: 70%;
    position: relative;
    right: 20px;
}

.list li {
    height: 50%;
    font-size: 22px;
    word-spacing: 4px;
    line-height: 1.3;
}

.list a {
    font-size: 22px;
    font-style: italic;
    color: aqua;
}

.list a:visited {
    color: darkcyan;
}

.list a:hover {
    background-color: grey;
}

/*contact*/

.contact {
    grid-area: contact;
}


/*colors*/

.colors {
    grid-area: colors;
}

/*footer*/

footer {
    grid-area: footer;
    height: 30px;
    border: 2px solid black;
    background-color: black;
    color: white;
    font-style: italic;
    display: flex;
    justify-content: center;
}

h6 {
    font-size: 24px;
}